[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "third_party/APCpp"]
	path = third_party/APCpp
	url = https://github.com/N00byKing/APCpp
