name: CI

# Trigger this workflow on push or pull request
on: [push, pull_request]

env:
  SRC_DIR_PATH: desktop_version

jobs:
  build-mac:
    name: Build (macos-latest)

    runs-on: macos-latest

    env:
      CXXFLAGS: -I/usr/local/include/SDL2
      LDFLAGS: -L/usr/local/lib

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: brew install ninja sdl2

    - name: CMake configure (default version)
      run: |
        mkdir ${SRC_DIR_PATH}/build && cd ${SRC_DIR_PATH}/build
        cmake -GNinja ..
    - name: Build (default version)
      run: ninja -C ${SRC_DIR_PATH}/build
    - name: Create Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: V6AP-macos
        path: ${{env.SRC_DIR_PATH}}/build/VVVVVV

  build-lin:
    name: Build (ubuntu-latest)

    runs-on: ubuntu-latest

    env:
      CXXFLAGS: -I/usr/local/include/SDL2
      LDFLAGS: -L/usr/local/lib

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: CMake configure (default version)
      run: |
        mkdir ${SRC_DIR_PATH}/build && cd ${SRC_DIR_PATH}/build
        cmake ..
    - name: Build (default version)
      run: make -j $(nproc) -C ${SRC_DIR_PATH}/build
    - name: Create Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: V6AP-linux
        path: ${{env.SRC_DIR_PATH}}/build/VVVVVV

  build-win:
    name: Build (windows-latest)

    runs-on: windows-latest

    env:
      SDL_VERSION: 2.0.20

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Cache SDL
      uses: actions/cache@v2
      env:
        cache-name: cache-sdl
      with:
        path: C:\SDL
        key: ${{ runner.os }}-build-${{ env.cache-name }}

    - name: Download SDL if not cached
      run: |
        if (-Not (Test-Path C:\SDL))
        {
          Invoke-WebRequest "https://github.com/libsdl-org/SDL/releases/download/release-$env:SDL_VERSION/SDL2-devel-$env:SDL_VERSION-VC.zip" -o C:\SDL.zip
          Expand-Archive C:\SDL.zip -DestinationPath C:\
        }

    - name: CMake configure (default version)
      run: |
        mkdir $env:SRC_DIR_PATH/build
        cd $env:SRC_DIR_PATH/build
        $env:LDFLAGS =  "/LIBPATH:C:\SDL2-$env:SDL_VERSION\lib\x86 "
        cmake -G "Visual Studio 17 2022" -A Win32 `
              -DSDL2_INCLUDE_DIRS="C:\SDL2-$env:SDL_VERSION\include" `
              -DSDL2_LIBRARIES="SDL2;SDL2main" `
              -DUSE_ZLIB=OFF `
              -DCMAKE_BUILD_TYPE=Release ..
    - name: Build (default version)
      run: |
        cd $env:SRC_DIR_PATH/build
        cmake --build . --config Release

    - name: Create Artifact Folder
      run: |
        mkdir artifact
        copy ${{env.SRC_DIR_PATH}}/build/Release/VVVVVV.exe artifact
        copy ${{env.SRC_DIR_PATH}}/build/apcppout/Release/APCpp.dll artifact
    - name: Create Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: V6AP-win
        path: |
          artifact/*
